// lib
import React from 'react';
import { NextPage, InitialProps } from 'next';
// redux
// i18n
import { useTranslation, NamespaceEnum } from '@i18n';
// components
// hooks
// types
import { StyledComponentProps } from '@type/material-ui';
// utils
// styles
import { useStyles, styles } from './style';
// misc

interface Props extends InitialProps, StyledComponentProps<typeof styles> {}

const {{pageName}}: NextPage<Props, InitialProps> = (props) => {
  const { namespacesRequired } = props;
  const classes = useStyles(props);
  const { t } = useTranslation(namespacesRequired);

  return <div className={classes.root}></div>;
};

{{pageName}}.getInitialProps = async ({ req }) => {
  return {
    title: '{{pageName}}',
    namespacesRequired: [],
  };
};

export default {{pageName}};
