// libs
import React from 'react';
// redux
// i18n
// components
// hooks
// types
import { StyledComponentProps } from '@type/material-ui';
// utils
// styles
import { useStyles, styles } from './style';
// misc

interface Props extends StyledComponentProps<typeof styles> {}

const {{compName}}: React.FC<Props> = (props) => {
  const classes = useStyles(props);

  return <div className={classes.root}></div>;
};

export default {{compName}};
